{% extends "base.html" %}

{% block content %}
<div class="headtitle">
    <img src="{{get_url(path='/imgs/cover.jpg')}}"}>
    <div style="position: absolute; top: 20%; width: 100%;">
        <h1 class="title">
          David Thien
        </h1>
    </div>
</div>
<div class="bar"></div>

<div class="index-body">
    <p>
        I'm a writer and artist of sorts living in Seattle. I mostly write speculative fiction and I'm currently working on my debut novel. If you'd like to get in contact with me, send me an email at me@davidthien.com.

        I am especially interested in all different kinds of storytelling and how the medium informs the art you make. I believe that a novel has a unique ability to make you believe something you didn't before, without even realizing it.
    </p>
</div>
{% endblock content %}
